blockquote {
  border-radius: 5px;
  background: #FFF;
  padding: rem(40) rem(32) rem(40) rem(132);
  position: relative;
  margin-bottom: rem(24);

  p {
    color: #000;
    font-size: rem(22);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: rem(22);
  }

  cite {
    color: #000;
    font-family: "Playfair Display";
    font-size: rem(22);
    font-style: italic;
    font-weight: 500;
    line-height: 1.45;
  }

  &:before {
    content: '';
    background-image: url('../img/blockquote.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    left: rem(32);
    top: rem(40);
    width: rem(70);
    height: rem(70);
  }

  @include mq('phone-large') {
    padding: 20px 10px 20px 60px;

    p {
      font-size: 16px;
      line-height: 120%;
    }

    cite {
      font-size: 16px;
      line-height: 120%;
      text-align: right;
      display: block;
    }

    &:before {
      width: 40px;
      height: 40px;
      left: 10px;
      top: 20px;
    }
  }
}