.c-breadcrumbs,
.woocommerce-breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: rem(24);
  font-weight: 400;
  font-size: rem(15);
  line-height: 1.8;
  color: #323232;

  a {

  }

  .breadcrumb_last {
    color: #FFA819;
  }

  @include mq('phone-large') {
    margin-bottom: 20px;

    font-size: 12px;

    // &::before {
    //   content: url('../img/home-icon.svg');
    //   position: relative;
    //   top: -5px;
    //   margin-right: 5px;
    // }
  }
}