.c-comments {
	&__box {
		&.is-scroll {
			max-height: 600px;
			overflow-y: scroll;
			overflow-x: hidden;
	    direction: ltr;
	    padding-right: 10px;
	    margin-bottom: 20px;		
	    
  		&::-webkit-scrollbar-track{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar{
				width: 3px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb{
				background-color: #000000;
				border: 1px solid #555555;
			}	
		}
	}

	.u-h3 {
		color: $black;
		margin-bottom: 10px;
		font-weight: 600;
	}

	.u-h4 {
		// padding-bottom: rem(20);
		// border-bottom: 1px solid rgba(0,0,0,0.1);
		margin-bottom: rem(20);
	}

	&__submit {
		&.c-subscribe {
			border: 1px solid rgba(0, 0, 0, 0.20);
			color: rgba(0, 0, 0, 0.70);

			input {
				color: #000;
				font-size: rem(14);
		
				&::placeholder {
					color: rgba(0, 0, 0, 0.70);
				}
			}

			.u-btn {
				padding: rem(12) rem(35);
			}
		}
	}

	&__registration {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		// margin: 0 -15px;
		margin-bottom: 30px;
		margin-top: 30px;

		
		// &-label,
		// label {
		// 	width: 33.33%;
		// 	padding: 0 15px;
		// 	font-weight: 300;
		// 	font-size: 14px;
		// 	color: #868686;
		// }

		input {
			width: 100%;
			padding: rem(10) 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			font-weight: 300;
			font-size: rem(18);
			color: $black;
		}

		.comment-form-rating {
			margin-top: rem(20);
		}

		select {
			display: block !important;
	    margin: 0;
	    border: 0;
	    padding: 0;
	    height: 1px;
	    opacity: 0;
	    position: relative;
	    top: 10px;
		}
	}

	&__children {
		padding-top: rem(10);
		padding-left: rem(30);

		.c-comments__user {
			padding-top: rem(20);
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	&__user {
		margin-bottom: rem(25);
		padding-bottom: rem(25);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		// display: flex;
		
		&:last-child {
			border-bottom: none;
		}

		&-rating {
			margin-right: rem(20);
		}

		&-actions {
			margin-top: rem(15);
			display: flex;
			align-items: center;
			font-size: rem(15);

			.reply-link {
				margin-right: rem(7);
				color: #808080;
				
			}
		}
	}

	&__name {
		// direction: ltr;
		margin-bottom: rem(7);
	}

	&__text {
		p {
			font-size: rem(17);
		}
	}

	.c-time {
		// font-family: Assistant;
		font-weight: 300;
		font-size: rem(11);
		line-height: 1.4;
		color: #626161;
		margin-left: rem(12);
	}
	.c-name {
		font-weight: 600;
		font-size: rem(14);
		line-height: 1.1;
		color: $black;
	}

	@include mq('tablet') {
		&__submit {
			.u-btn {
				margin: 0;
			}
		}

		p {
			word-break: break-all;
		}
	}

	@include mq('phone-large') {
		&__box {
			// max-height: 550px;	
			// overflow-y: auto; 
		}

		&__user {
			display: block;
			margin-bottom: 15px;
			padding-bottom: 15px;

			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}

		&__registration {
	    flex-wrap: wrap;
	    margin: 30px 0px;
	    
	    // &-label,
	    // label {
  	  //   width: 100%;
  	  //   margin-bottom: 15px;
  	  //   padding: 0;
	    // }

	    input {
	    	padding: 5px 0;
	    }
		}

		&__submit {
			flex-direction: column;
	    border: 0;
	    border: none;

			&.c-subscribe {
				border: none;
				padding: 0;

				input {
					color: #000;
					border: 1px solid #bbbbbb;
					border-radius: 3.125rem;
					width: 100%;
					margin-bottom: 10px;
					padding: 13.5px 25px;
					display: block;
				}
			}
	    
	    .u-btn {
	    	width: 100%;
	    	text-align: center!important;
	    	margin-bottom: 10px;
	    	display: block;
	    }
		}
	}
}