.c-input {
  width: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid #E2E2E2;

  &.is-half {
    max-width: 50%;
  }

  &.is-client-contact {
    display: flex;
    align-items: center;

    label {
      left: rem(120);
    }
  }

  &.invalid {
    label {
      top: 0;
      color: #dc143c;
      font-size: rem(12);
      cursor: auto;
    }
  }

  &.is-active {
    label {
      top: 0;
      font-size: rem(12);
      cursor: auto;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: rem(12);
    transform: translateY(-50%);
    color: #666666;
    font-size: rem(16);
    padding: 0 3px;
    background: white;
    transition: all 0.4s ease;
    cursor: text;
  }

  span {
    color: #898686;
    display: block;
    font-size: rem(14);
    line-height: 1;
    margin-bottom: rem(8);
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: rem(12) rem(12);
    font-size: rem(16);
    
    color: black;

    &:-webkit-autofill {
      background-color: white !important; /* Установите нужный цвет фона */
      color: black !important; /* Установите нужный цвет текста */
      transition: background-color 5000s ease-in-out 0s; /* Это нужно для устранения мерцания */
    }
    
    &:-moz-autofill {
      background-color: white !important; /* Установите нужный цвет фона */
      color: black !important; /* Установите нужный цвет текста */
    }
  }

  input.invalid {
    border: 1px solid crimson;
  }

  .error-msg {
    font-size: rem(11);
    margin-top: 3px;
    color: #dc143c;
    text-align: left;
    position: absolute;
  }

  @include mq('phone-large') {
    .error-msg {
      position: relative;
    }
  }
}
