.c-input {
  width: 100%;
  &.is-half {
    max-width: 50%;
  }

  span {
    color: #898686;
    display: block;
    font-size: rem(14);
    line-height: 1;
    margin-bottom: rem(8);
  }

  input,
  textarea {
    display: block;
    width: 100%;
    background: #fbf8f8;
    padding: rem(12) rem(20);
    font-size: rem(15);
    border: 1px solid transparent;    
  }

  input.invalid {
    border: 1px solid crimson;
  }

  .error-msg {
    font-size: rem(11);
    margin-top: 3px;
    color: #dc143c;
    text-align: left;
  }
}
