.c-loader {
  width: 20px;
  height: 20px;
  display: inline-block;

  &.is-hide {
    opacity: 0;
    visibility: hidden;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
  
  &.is-white {
    svg {
      .path {
        stroke: #fff;
      }
    }
  }

  svg {
    display: inline-block;
    animation: rotator 1.4s linear infinite;
    opacity: 0.6;

    .path {
      stroke-dasharray: 280;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke: #000;
      animation: dash 1.4s ease-in-out infinite;
    }
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}