.c-mini-cart-product {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: rem(10);
  padding-bottom: rem(10);
  border-bottom: 1px solid #efeded;
  text-align: left;

  &__img {
    max-width: rem(70);
    margin: 0 rem(15) 0 0;
    flex-shrink: 0;
  }

  &__info {
    font-size: rem(13);
    line-height: 1.2;
    display: block;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    padding-right: rem(10);

    .is-name {
      display: block;
      font-size: rem(15);
      font-weight: 500;
      line-height: rem(15);
      margin-bottom: rem(5);
    }
  }

  .c-price {
    font-size: rem(12);
    line-height: rem(15);

    &__sale,
    &__wrong {
      font-size: rem(12);
      line-height: 15px;
      font-weight: 600;
    }

    &__current {

    }
  }

  .is-bold {
    font-weight: 500;
  }

  .c-remove {
    margin-left: auto;
    // position: absolute;
    // right: 0px;
    // top: -2px;
    // left: auto;
    // font-size: 18px;
    line-height: 1;
    // opacity: 1;
    cursor: pointer;

    svg {
      width: rem(24);
      height: rem(24);
      rect {
        transition: fill 0.3s ease;
        fill: black;
      }
      path {
        transition: fill 0.3s ease;
        fill: white;
      }
    }

    &:hover {
      svg {
        rect {
          fill: #f5e2d1;
        }
        path {
          fill: black;
        }
      }
    }
  }
}