.c-mobile-menu {
  padding: 10px 5px 25px;
  position: absolute;
  z-index: 10;
  height: calc(100% - 10px);
  overflow: auto;
  left: -100%;
  width: 100%;
  // top: 55px;

  &__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  .is-phone {
    stroke: black;
    stroke-width: 0.5px;
    fill: none;
  }

  &.is-more {
    right: -100%;
    left: auto;

    &.is-active {
      left: auto;
      right: 0;
    }

    ul {
      margin-bottom: 25px;
    }
  }

  .c-search {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }

  // .js-mobile-menu-back {
  //   // display: none;
  //   display: inline-block;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: all 0.3s ease;
  //   margin-left: auto;
  //   padding: 0 7px;
  //   line-height: 0;
  //   background-color: #fbf8f8;
  //   z-index: 2;

  //   &.is-active {
  //     // display: inline-block;
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }


  // .c-tab {
  //   &__nav {
  //     background-color: #fbf8f8;
  //     display: flex;
  //     align-items: center;
  //     position: relative;
  //   }
  // }

  // &__cat {
  //   margin: 15px 0px 20px;
  // }

  img {
    // max-width: 95px;
    // max-height: 95px;
    // border-radius: 50%;
  }

  &__link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    &:last-child {
      // border-bottom: 0;
    }

    picture {
      line-height: 0;
    }

    svg , 
    img {
      margin-right: 15px;
    }

    a, span {
      display: block;
      font-size: 15px;
      padding: 20px 0;
      flex-grow: 1;
    }

  }

  &__item {
    line-height: 1.2;
    padding: 7px 10px 7px 15px;
    margin-bottom: 15px;
    background-color: #fbf8f8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    span {
      display: block;
      font-weight: 600;
      padding-right: 10px;
    }

    &.is-show {
      .c-mobile-menu__item-sub {
        // opacity: 1;
        visibility: visible;
        left: 0;
      }
    }

    &-parent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;    
      width: 100%;  
    }

    &-sub {
      position: absolute;
      top: 0;
      left: -100%;
      right: 0;
      height: 100%;
      overflow: auto;
      // opacity: 0;
      visibility: hidden;
      background-color: white;
      transition: all 0.3s ease;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        line-height: 1.2;
        padding: 7px 10px 7px 15px;
        margin-bottom: 15px;
        background-color: #fbf8f8;
        min-height: 95px;
      }
    }
  }

  &.active {
    left: 0;
  }
}
