.c-reviews {
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
  padding: rem(15) rem(15) rem(25);
  margin-bottom: rem(20);

  .c-date {
    // font-family: Graphik LCG;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    color: #192E20;
    font-size: rem(13);
    margin-bottom: rem(15);
  }

  .star-rating {
    margin-bottom: rem(10);
  }

  .u-h6 {
    margin-bottom: rem(15);
    font-weight: bold;
  }

  p {
    font-size: rem(13);
    line-height: 160%;
  }

  &__user {
    margin-top: rem(15);
    padding-top: rem(15);
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(90);
      height: 1px;
      background-color: #ddd;
    }

    &-img {
      margin-right: rem(10);
      border-radius: 50%;
      flex-shrink: 0;
      overflow: hidden;
      line-height: 0;

      img {
        max-width: rem(35);
      }
    }
    &-name {
      // font-family: Graphik LCG;
      font-weight: bold;
      font-size: rem(14);
      line-height: 140%;
    }
  }

  &__answer {
    padding-top: rem(16);
    margin-top: rem(32);
    border-top: 1px solid #E0E0E0;
  }

  &__product {
    &-img {
      
    }
  }
}