.c-select {
  width: 100%;

  .nice-select {
    padding: rem(12) rem(20);
    font-size: rem(15);
    height: auto;
    margin-bottom: 0;
    line-height: 1;
    color: #666;

    .nice-select-search {
      font-size: rem(14);
      min-height: rem(36);
      margin: 0 rem(10) 0 0;
      padding: rem(7) rem(12);
      line-height: 1.2;
  
    }

    .nice-select-dropdown {
      border: 1px solid #e5e4e2;
      box-shadow: none;
      left: -1px;
      right: -1px;
      width: auto;
    }
  }

  select {
    display: none;
  }
}