.c-tag {
	padding: rem(14) rem(26);
	display: flex;
	align-items: center;
	border-radius: rem(50);
	border: 1px solid #E2E2E2;
	background: #FFF;
	color: #000;
	font-family: 'Golos Text';
	font-size: rem(15);
	line-height: 180%;

	svg, img {
		width: rem(20);
		height: rem(20);
		margin-right: rem(16);
	}
}