.p-faq {
  margin-top: rem(25);
  margin-bottom: rem(25);
  .u-h1 {
    color: #323232;
    font-size: rem(35);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: rem(24);
  }

  .u-container {
    max-width: rem(980);
  }
}