.p-single {
  margin-top: rem(25);
  &__flex {
    // display: flex;
    // align-items: flex-start;
    margin-bottom: rem(80);
  }

  &__image {
    text-align: center;
  }

  &__box {
    // margin-right: rem(32);
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    background: #F5F5F5;
    padding: rem(30);
    // max-width: rem(860);
    width: 100%;
    flex-shrink: 0;
  }

  .l-article {
    .u-container {
      max-width: rem(980);
    }
  }
  

  .l-sidebar {
    width: 100%;
  }

  .c-inform {
    border: 1px solid #F9DEDC;
    background-color: #B3261E1F;
    border-radius: rem(6);
    font-size: rem(16);
    font-family: 'Inter';
    line-height: 1.3;
    color: #000;
    padding: rem(16) rem(24);
    margin-bottom: rem(24);
  }

  &__content {
    position: relative;

    &-controller {
      margin-bottom: rem(24);
      padding: rem(16) rem(24);
      border: 1px solid #FFA819;
      border-radius: 6px;
      background: #FFA81933;
      display: flex;
      align-items: center;

      &__title {
        margin-right: rem(28);
        font-size: rem(16);
        font-weight: 500;
        font-family: Inter;
        display: flex;
        align-items: center;
        svg {
          flex-shrink: 0;
          margin-right: rem(12);
        }
      }

      .u-btn {
        margin-right: rem(16);

        &:last-child {
          margin-right: 0;
        }
      }
    } 

    &.is-loading {
      .c-loader {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      #article-content {
        filter: blur(1px);
      }
    }

    .c-loader {
      top: rem(50);
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: rem(40);
      height: rem(40);
      display: none;
    }

    h2 {
      color: #000;
      font-size: rem(28);
      font-weight: 500;
      line-height: 1.35;
      margin-bottom: rem(16);
    }

    p, ul, ol {
      color: #666;
      font-size: rem(15);
      font-style: normal;
      font-weight: 400;
      line-height: 180%;
      margin-bottom: rem(16);
    }

    img {
      margin-bottom: rem(20);
    }

    h3 {
      color: #000;
      font-size: rem(22);
      font-weight: 500;
      line-height: 1.35;
      margin-bottom: rem(16);
    }

    h4 {
      color: #000;
      font-size: rem(20);
      font-weight: 500;
      line-height: 1.35;
      margin-bottom: rem(16);
    }

    li {
      margin-bottom: rem(10);
    }

    ul {
      list-style: disc;
      list-style-position: inside;
    }

    ol {
      list-style: decimal;
      list-style-position: inside;
    }

    a {
      text-decoration: underline;
      color: #FFA819;
    }
    
    blockquote {
      border: 1px solid #E2E2E2;
    }

    figure.wp-block-table {
      overflow-x: auto;
    }

    figcaption {
      margin: rem(30) 0;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin: rem(30) 0;
      overflow-x: auto;
      
      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: rem(8);
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16) 0;
    margin-bottom: rem(24);

    &-left {
      color: #666666;
      .c-date,
      .c-author {
        margin-right: rem(10);
        padding-right: rem(10);
        border-right: 1px solid #E2E2E2;
        font-size: rem(14);
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: rem(24);
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    background: #FFF;

    .c-tags {
      display: flex;
      align-items: center;

      &__title {
        color: #000;
        font-size: rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        margin-right: rem(10);
      }

      &__item {
        margin-right: rem(10);

        &:last-child {
          margin-right: 0;
        }
        
        a {
          padding: rem(3) rem(16);
          border-radius: 5px;
          background: #FFA819;
          color: #FFF;
          font-size: rem(14);
          font-weight: 400;
          line-height: 1.8;
        }
      }
    }

    .c-social {
      margin-top: 0;
      &__item {
        border: 1px solid rgba(30, 30, 30, 0.2);

        svg {
          fill: #323030;
        } 
      }
    }
  }

  .u-h1 {
    color: #323232;
    font-size: rem(35);
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin-bottom: rem(24);
  }

  .l-related {
    margin: 0;
    padding: rem(80) 0;
    background: #F5F5F5;
  }

  @include mq('tablet-wide') {
    &__box {
      margin-right: 0;
      max-width: 100%;
      border: 0;
    }

    &__image {
      width: 100%;
    }
		&__flex {
			
			.l-sidebar {
				display: none;
			}
		}
	}

  @include mq('tablet') {
    .l-related {
      background: transparent;
    }

    &__content {
      &-controller {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        
        &__title {
          margin-right: 0;
          margin-bottom: rem(20);
        }
      }
    }
  }

  @include mq('phone-large') {
    &__box {
      padding: 20px 10px;
      margin: 0 -15px;
      max-width: -webkit-fill-available;
      width: auto;
    }

    &__flex {
      margin-bottom: 40px;
    }

    &__info {
      &-left {
        .c-date,
        .c-author {
          margin-right: 5px;
          padding-right: 5px;
        }
      }
    }

    &__content {
      h2 {
        font-size: 26px;
      }
    }

    .l-related {
      margin: 0;
      padding: 40px 0;
      background: #F5F5F5;
    }

    .c-inform {
      padding: 10px;
      font-size: 13px;
    }

    .u-h1 {
      font-size: 30px;
      margin-bottom: 20;
    }
  }

  @include mq('phone-wide') {
    &__info {
      flex-direction: column;
      align-items: flex-start;

      .c-likes {
        font-size: 16px;
      }

      &-left {
        margin-bottom: 12px;
        .c-date,
        .c-author {
          font-size: 14px;
        }
      }
    }
    &__bottom {
      flex-direction: column;
      border: none;
      background-color: transparent;
      padding: 10px 0;
      align-items: flex-start;

      .c-tags {
        margin-bottom: 15px;
      }
    }
  }
}