<div class="c-modal is-lightbox js-lightbox-modal" id="lightbox">
  <p class="d-block d-sm-none is-lightbox-notification">{{ 'Scale a photo with a pinch and spread gesture' | translateString('Modals - Scale a photo') }}</p>
  <div class="c-load-icon js-load-more-icon">
    <svg width="30px" height="30px" class="c-load">
      <use xlink:href="#icon-load"></use>
    </svg>
  </div>
  
  <div data-modal="close" class="c-modal__close">
    <svg width="20px" height="20px" >
      <use xlink:href="#icon-close"></use>
    </svg>
  </div>
</div>
<span data-modal="#lightbox" class="d-none"></span>	