<div class="c-modal is-successful js-successful" id="successful">
  <svg width="20px" height="20px" data-modal="close" class="c-modal__close">
    <use xlink:href="#icon-close"></use>
  </svg>
  <div class="c-modal__title">{{options.modal_success.title}}</div>
  <p class="c-modal__text">{{options.modal_success.text}}</p>
</div>
<span data-modal="#successful" class="d-none"></span>