<div class="c-modal is-error js-error" id="error">
  <svg width="20px" height="20px" data-modal="close" class="c-modal__close">
    <use xlink:href="#icon-close"></use>
  </svg>
  <div class="c-modal__title">{{options.modal_error.title}}</div>
  <p class="c-modal__text">{{options.modal_error.text}}</p>
</div>
<span data-modal="#error" class="d-none"></span>