.l-accessory {
	margin: 80px 0;
	&__text {
		position: absolute;
		bottom: 150px;
    text-align: right;
    z-index: 2;
    max-width: 360px;

    .u-btn {
    	margin-top: 35px;
    }
	}

	&__bg {
		position: relative;
		text-align: center;
		display: inline-block;

		img {
			width: 100%;
		}
	}
	.c-circle {
		position: absolute;
		top: 80px;
		right: -125px;

		img {
			animation: rotate 15s linear infinite;
		}
	  
	}
	&__arrow {
		position: relative;
		transition: all 0.4s ease;
		right: 0;
	}

	&__block {
		position: absolute;

		&-text {
			display: flex;
			flex-direction: column;
	    align-items: flex-end;
    	margin-top: 20px;

			span {
				display: inline-block;
				margin-bottom: 10px;
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 29px;
				text-transform: uppercase;

				color: #000000;
			}
		}
		
		&.is-first {
			top: 105px;
			left: 12%;
			display: flex;
			align-items: flex-start;
		}

		&.is-second {
			bottom: 90px;
			right: 9%;
			display: flex;
			flex-direction: column;

			span {
				margin-bottom: 30px;
				margin-top: 20px;
				margin-right: 10px;
			}
		}



		&:hover {
			.l-accessory__arrow {
				// left: 15px;
				right: -15px;
			}
		}
	}

	@include mq('desktop'){
		.c-circle {
			display: none;
		}
	}
}
