.l-cart {
  background-color: #fff;
  padding: 20px 50px;
  width: 100%;
  flex-shrink: 1;

  .u-h3 {
    border-bottom: 1px solid #efeded;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: inherit;
  }

  @include mq('tablet') {
    padding: 10px 15px;
  }
}