.l-mini-cart {
  position: relative;
  
  .u-h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  &.is-loading {
    .l-mini-cart__total {
      filter: blur(1px);
    }

    .l-mini-cart__btn {
      filter: blur(1px);
    }
  }

  &__count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 15px;
    color: #898686;
  }
  
  &__bottom {
    &-total {
      text-align: center;
    }
  }

  &__total {
    border-bottom: 1px solid #efeded;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    text-align: center;
    .u-btn.is-black {
      width: 100%;
      text-align: center;
      background: #333;
      color: #fff;
      padding: rem(17) rem(25);
      border-radius: 3px;
      margin-bottom: rem(16);
    }

    .is-cart {
      text-decoration: underline;
    }
  }

  .c-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    svg {
      width: rem(40);
      height: rem(40);
    }
  }

  .js-cart-info {
    &.is-show {
      display: block;
    }

    &.is-hide {
      display: none;
    }
  }

  .js-cart-empty {
    &.is-show {
      display: block;
    }

    &.is-hide {
      display: none;
    }
  }
}

.js-cart-container {
  position: relative;

  &.is-loading {
    .l-mini-cart-list {
      filter: blur(1px);
    }

    .c-loader {
      display: flex;
    }
  }

  .c-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    svg {
      width: rem(40);
      height: rem(40);
    }
  }
}