.l-mini-cart {
  position: relative;
  .u-h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #333;
    text-align: center;

    margin-bottom: 20px;
  }

  &.is-loading {
    .l-mini-cart__list {
      filter: blur(1px);
    }

    .l-mini-cart__total {
      filter: blur(1px);
    }

    .l-mini-cart__btn {
      filter: blur(1px);
    }

    .c-loader {
      display: flex;
    }
  }

  &__count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 15px;
    color: #898686;
  }

  &__list {

  }

  &__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efeded;

    &-img {
      max-width: 70px;
      margin: 0 15px 0 0;
      flex-shrink: 0;
    }

    &-attr {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 8px;

      .is-size {
        margin-right: 15px;
      }
    }

    &-info {
      font-size: 13px;
      line-height: 1.2;
      display: block;
      // padding-top: 15px;
      font-weight: 400;
      font-style: normal;
      // letter-spacing: 1px;
      color: #333333;
      padding-right: 10px;

      .is-brand {
        font-size: 10px;
        line-height: 9px;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-weight: 600;
      }
      .is-name {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
      }
    }

    .c-price {
      font-size: 12px;
      line-height: 15px;

      &__sale,
      &__wrong {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
      }

      &__current {

      }
    }
  }

  &__bottom {

    &-total {
      text-align: center;
    }

    .is-mini-cart-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border-radius: 23px 23px 23px 23px;
        padding: 8px 17px 8px 17px;
        // font-family: "Open Sans", Sans-serif;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0;
        margin: 15px auto 0;
        display: inline-block;

        &:first-child {
          width: 190px;
          background-color: #ffc139;
          color: #ffffff;
        }
        
        &:last-child {
          background-color: #333333;
          color: #ffc139;   
        }
      }
    }
  }

  &__total {
    border-bottom: 1px solid #efeded;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    text-align: center;
    .u-btn.is-black {
      width: 100%;
      text-align: center;
      background: #333;
      color: #fff;
      padding: 17px 25px;
      // height: 50px;
      // line-height: 50px;
      border-radius: 3px;
      margin-bottom: 16px;
    }

    .is-cart {
      text-decoration: underline;
    }
  }

  .c-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .js-cart-info {
    &.is-show {
      display: block;
    }

    &.is-hide {
      display: none;
    }
  }

  .js-cart-empty {
    &.is-show {
      display: block;
    }

    &.is-hide {
      display: none;
    }
  }

  .c-remove {
    position: absolute;
    right: 0px;
    top: -2px;
    left: auto;
    font-size: 18px;
    line-height: 1;
    opacity: 1;
    cursor: pointer;
  }

  .is-bold {
    font-weight: 500;
  }
}