.l-modal-container {
  position: fixed;
  // position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;

  &.is-active {
		opacity: 1;
		visibility: visible;
  }

  &.is-half-opacity {
  	background-color: rgba(0, 0, 0, 0.5);
  }

  .l-sidebar {
  	&__block {
	    border-bottom: 1px solid #efeded;
	    border-top: 0;

	    &:last-child {
	    	border-bottom: 0;
	    }
  	}
  }

  .c-modal {
	  opacity: 0;
	  overflow-y: auto;
	  visibility: hidden;
	  background-color: white;
	  transition: all 0.35s linear;
	  z-index: 21;
	  padding: 0 15px;

	  &__title {
	  	padding: 10px 0;
	    background: #fbf8f8;
      position: relative;
    	text-align: center;
    	margin: 0 -15px;

    	svg {
    		position: absolute;
    		right: 10px;
    		top: 50%;
    		transform: translateY(-50%);
    	}
	  }

	  &.is-active {
		  opacity: 1;
		  visibility: visible;
		  left: 0;
	  }

	  &.is-filter {
	  	position: absolute;
	  	// top: 55px;
	  	height: calc(100% - 55px);
	  	left: -100%;
	  	width: 100%;

	  	&.is-active {
	  		left: 0;
	  	}

	  	.l-filter {
	  		flex-direction: column;

	  		.widget {
	  			max-width: 100%;
	  			margin-right: 0;
	  			margin-bottom: 20px;

	  			&:last-child {
	  				margin-bottom: 0;
	  			}
	  		}
	  	}
	  }

	  &.is-search {
	    position: absolute;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    top: 50%;
	    transform: translateY(-50%);
	    left: -100%;
	    // height: calc(100% - 55px);
	    width: 100%;

	    &.is-active {
	  		left: 0;
	  	}

	    .c-search {
	    	width: 100%;
	    }
	  }

	  &.is-lightbox {
	  	position: absolute;
	  	height: 100%;
	  	width: 100%;
	  	padding: 0;

	  	.c-modal__close {
	  		position: absolute;
	  		top: 60px;
	  		right: 60px;
	  		z-index: 2;
	  		width: 50px;
	  		height: 50px;
	  		cursor: pointer;
	  	}

	  	.c-load-icon {
	  		position: absolute;
	  		left: 50%;
	  		top: 50%;
	  		transform: translate(-50%, -50%);
	  		width: 50px;
	  		height: 50px;	  		
	  	}

	  	

	  	.swiper {
	  		height: 100%;
		    text-align: center;

		    .swiper-button-next, 
		    .swiper-button-prev {
    	    color: #333;
		    }

		    .swiper-zoom-container {
		    	cursor: zoom-in;
    	    align-items: inherit;
		    }
	  	}

	  	img {
	  		height: 100%;
	  		width: auto;
	  	}
	  }

	  &.is-quick-buy {
	  	position: absolute;
	  	height: 100%;
	  	// left: -100%;
	  	width: 100%;
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;

	   //  &.is-active {
	  	// 	left: 0;
	  	// }

	  	.c-modal__close {
	  		position: absolute;
	  		top: 60px;
	  		right: 60px;
	  		z-index: 2;
	  		width: 50px;
	  		height: 50px;
	  		cursor: pointer;
	  	}

	  	// .c-load-icon {
		  //   margin-top: 10px;
	  	// }

	  	.c-input {
  			margin-bottom: 30px;

  			input {
  				background: #fcfcfc;
  			}
  		}

	  	.c-form {
	  		max-width: 600px;
	  		width: 100%;
	  		
	  		.js-form-answer {
	  			margin-top: 15px;
	  			font-size: 18px;

	  			&.is-success {
	  				color: $green;
	  			}
	  			&.is-error {
	  				color: $red;
	  			}
	  		}
	  	}
	  }

	  &.is-size-chart {
	  	position: absolute;
	  	height: 100%;
	  	// left: -100%;
	  	width: 100%;
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;

	  	.c-modal__close {
	  		position: absolute;
	  		top: 60px;
	  		right: 60px;
	  		z-index: 2;
	  		width: 50px;
	  		height: 50px;
	  		cursor: pointer;
	  	}
	  }

	  &__lang {
	    padding: 15px;
	  	position: absolute;
	  	left: 50%!important;
	  	top: 50%;
	  	transform: translate(-50%, -50%);
	    box-shadow: 0 10px 20px rgba(50, 50, 50, 10%);

      max-height: 500px;
   	 	max-width: 800px;
   	 	width: 100%;
   	 	height: 100%;

   	 	&-box {
		    display: flex;
		    justify-content: center;
        flex-direction: column;
		    padding: 30px;
		    height: 100%;

		    &.is-second {
		    	display: none;
		    }
   	 	}

   	 	.row {
   	 		height: 100%;
   	 	}

   	 	.c-modal__close {
   	 		position: absolute;
   	 		top: 15px;
   	 		right: 15px;
 		    z-index: 2;
   	 	}

   	 	&-subtitle {
		    text-transform: uppercase;
		    color: #333;
		    margin-bottom: 10px;
		    padding-left: 8px;
		    font-size: 14px;
		    font-weight: 500;
		    position: relative;

		    &:before {
		    	content: "";
			    height: 8px;
			    width: 2px;
			    background: #f94942;
			    display: block;
			    position: absolute;
			    top: 2px;
			    left: 0;
		    }
   	 	}

   	 	&-title {
				font-size: 26px;
		    line-height: 1.3;
		    color: #333;
		    font-weight: 300;
		    margin-bottom: 30px;
   	 	}

   	 	&-change {
   	 		margin-top: 20px;
   	 		text-align: center;
   	 		text-decoration: underline;
   	 		cursor: pointer;
   	 	}

   	 	.u-btn {
   	 		// margin: 15px 0;
   	 	}
	  }
 	}

 	@include mq('phone-large') {
 		.c-modal {
 			&.is-lightbox {
 				.c-modal__close {
 					top: 30px;
	  			right: 30px;
					width: 25px;
	  			height: 25px;
				}

				.c-load-icon {
					width: 30px;
					height: 30px;
				}

				.is-lightbox-notification {
					max-width: 300px;
			    margin: 15px auto;
			    display: inline-block;
			    font-size: 15px;
			    line-height: 21px;
			    color: #898686;
			    text-align: center;
			    width: 100%;
				}

				.swiper {
					// height: auto;
			    height: calc(100% - 120px);
				}

				img {
			    position: relative;
					top: 0;
			    max-width: none;
			    max-height: none;
			    width: 100%;
			    object-fit: cover;
				}
 			}

 			&.is-quick-buy {
 				.c-modal__close {
 					top: 15px;
	 				right: 15px;
	 				width: 25px;
	 				height: 25px;
 				}
 				.c-input {
 					margin-bottom: 20px;
 				}
 			}

 			&__lang {
 				max-height: inherit;
 				height: auto;
 				padding-top: 40px;

 				&-box {
 					padding: 0;
 				}

 				.c-modal__close {
 					top: 10px;
 					right: 10px;
 				}

 				.c-flag-uk {
			    height: 125px;
    			margin-bottom: 30px;
 				}
 			}
 		}
	}
}

