.l-our-blog {
	margin: rem(72) 0;
	&__flex {
		display: flex;
		align-items: flex-start;
	}

	&__content {
		margin-right: rem(30);
		width: 100%;
		&-first-post {
			border-radius: 5px;
			border: 1px solid #E2E2E2;
			background: #F5F5F5;
			margin-bottom: rem(30);
			padding: rem(30);
		}

		&-posts {
			border-radius: 5px;
			border: 1px solid #E2E2E2;
			background: #F5F5F5;
			padding: 30px;

			.c-post {
				&__text {
					// display: none;
				}
			}
		}
	}

	.l-sidebar {
		max-width: rem(410);
		width: 100%;
		flex-shrink: 0;
	}

	@include mq('tablet-medium') {
		margin: 40px 0;
		&__flex {
			flex-wrap: wrap;
		}

		&__content {
			margin-right: 0;
		}

		.l-sidebar  {
			display: none;
		}

		.js-blog-category {
			margin-bottom: 20px;
		}

		.c-category {
			width: max-content;
			font-weight: 500;
			font-size: 14px;
			line-height: 120%;
			color: #666;
			padding: 2px 2px 2px 10px;
			background: #f5f5f5;
		}
	}

	@include mq('tablet') {
		.c-post {
			border: 0px;
		}
	}

	@include mq('phone-large') {
		&__content {
			&-first-post {
				margin-bottom: 20px;
				// padding: 15px;
			}
			&-first-post,
			&-posts {
				padding: 0px;
				background-color: transparent;
				border: 0;
				border-radius: 0;

				.c-post {
					&__text {
						display: -webkit-box;
					}
				}
			}
		}
	}
}