.l-sidebar-cart {
  max-width: 340px;
  margin-left: 60px;
  width: 100%;
  flex-shrink: 0;

  .u-h3 {
    border-bottom: 1px solid #efeded;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: inherit;
  }

  &__total {
    position: relative;
    background: #fff;
    padding: 20px 35px;
    // margin-bottom: 60px;
  }

  &__cupons {
    background: #fff;
    padding: 20px 35px;
    color: #f1ab32;

    .u-h3 {
      color: inherit !important;
    }
  }

  &__item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-red {
      color: $red;
    }
  }

  .u-btn.is-black {
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  @include mq('desktop') {
    margin-left: 0;
    max-width: 100%;
  }

  @include mq('tablet') {
    &__cupons {
      padding: 15px 15px;
    }
    &__total {
      padding: 15px 15px;
    }
  }
}