<div class="l-header-top">
	<span>{{ 'FREE SHIPPING ON ORDERS OVER $125' | translateString('Header - free shipping') }}</span>
	<a href="#" class="u-btn is-small is-white-border">In Europe?</a>
</div>
<header id="mainHeader" class="l-header">
	<div class="l-header__bottom u-relative">
		<div class="u-container">

			{% include 'templates/partial/logo.twig' %}
			{% include 'templates/menu.twig' with {'menu': menu.get_items} %}
			
			<div class="l-header__bottom-right">

				{% include 'templates/partial/lang.twig' %}
				{% include 'templates/partial/service-cart.twig' %}
        {% include 'templates/partial/burger.twig' %}
				
			</div>
		</div>
	</div>
	<div class="l-header__mobile">
		<div class="u-container">
			<nav class="c-mobile-menu">
				<ul>
					{% include 'templates/menu-mobile.twig' with {'menu': mobile_menu.get_items} %}
					
					<li class="c-mobile-menu__link">
						<svg width="21px" height="20px" class="is-phone">
							<use xlink:href="#icon-phone"></use>
						</svg>
						<a href="tel:{{ options.social.phone }}">{{ 'Call us' | translateString('Mobile menu - Call us') }}</a>
					</li>
				</ul>
				{% include 'templates/search-form.twig' %}
			</div>
		</div>
	</div>
</header>