<form role="search" method="get" id="searchform" class="c-search" action="{{site.link}}">
  {# <input type="hidden" name="post_type" value="product"> #}
  <input type="text" value="{{ function('get_search_query') }}" placeholder="{{ 'Search' | translateString('input - Search') }}" name="s" id="s" />
  <button type="submit" class="c-search__button">
    <svg width="15px" height="17px" class="is-search">
      <use xlink:href="#search"></use>
    </svg>
  </button>
</form> 

