.c-modal {
  &.is-search {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: -100%;
    width: 100%;

    &.is-active {
      left: 0;
    }

    .c-search {
      width: 100%;
    }
  }
}