.c-modal {
  &.is-successful,
  &.is-error {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    max-width: 435px;
    width: 100%;
    text-align: center;

    &.is-active {
      opacity: 1;
      visibility: visible;
      top: 50%;
    }

    .c-modal__title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .c-modal__text {
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 12px;
    }

    .c-modal__close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      cursor: pointer;
    }
  }
}