<div class="c-arrow">
	<div class="c-arrow__prev js-prev">
		<svg width="16px" height="16px" class="is-next">
      <use xlink:href="#icon-arrow-left"></use>
    </svg>
	</div>
	
	{% if length %}
		<div class="c-arrow__count"></div>
	{% endif %}

	<div class="c-arrow__next js-next">
		<svg width="16px" height="16px" class="is-next">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
	</div>
</div>