<div style="display: inline-block; position: absolute; z-index: -1; display: none;">
	<svg xmlns="http://www.w3.org/2000/svg">
		<symbol id="icon-arrow-bottom" viewbox="0 0 11 7" fill="none">
			<path d="M5.32817 5.85605L1.06255 1.6123C0.865674 1.39355 0.865674 1.06543 1.06255 0.868555L1.56567 0.36543C1.76255 0.168555 2.09067 0.168555 2.30942 0.36543L5.70005 3.73418L9.0688 0.36543C9.28755 0.168555 9.61567 0.168555 9.81255 0.36543L10.3157 0.868555C10.5125 1.06543 10.5125 1.39355 10.3157 1.6123L6.05005 5.85605C5.85317 6.05293 5.52505 6.05293 5.32817 5.85605Z" fill="#4F4F4F"/>
		</symbol>
		<symbol id="icon-check" viewbox="0 0 27 28" fill="none">
			<g clip-path="url(#clip0_37_3268)">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M27 13.7C27 21.1558 20.9558 27.2 13.5 27.2C6.04416 27.2 0 21.1558 0 13.7C0 6.24411 6.04416 0.199951 13.5 0.199951C20.9558 0.199951 27 6.24411 27 13.7ZM20.6197 10.9196C21.1469 10.3924 21.1469 9.53765 20.6197 9.01044C20.0925 8.48324 19.2377 8.48324 18.7105 9.01044L11.7901 15.9309L9.14468 13.2854C8.61747 12.7582 7.7627 12.7582 7.23549 13.2854C6.70829 13.8127 6.70829 14.6674 7.23549 15.1946L10.8355 18.7946C11.3627 19.3218 12.2175 19.3218 12.7447 18.7946L20.6197 10.9196Z" fill="#FF7E47"/>
			</g>
			<defs>
				<clipPath id="clip0_37_3268">
					<rect width="27" height="27" fill="white" transform="translate(0 0.199951)"/>
				</clipPath>
			</defs>
		</symbol>

		<symbol id="icon-loader" viewbox="0 0 66 66" fill="none">
			<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>		
		</symbol>
		<symbol id="icon-brain" viewbox="0 0 22 18" fill="none">
			<path d="M14.6649 5.99195L17.3049 5.99195C18.9649 5.99195 20.3049 7.34195 20.3049 9.00195" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.33496 5.99195L4.69496 5.99195C3.03496 5.99195 1.69496 7.34195 1.69496 9.00195" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M11.8849 15.972C12.4349 16.522 13.2149 16.872 14.0649 16.852C15.5249 16.822 16.7149 15.642 16.9549 14.192L17.0049 13.852C17.1549 12.932 17.7249 12.112 18.5749 11.722C18.8949 11.572 19.1849 11.372 19.4249 11.122C20.1849 10.362 20.5549 9.16197 20.1249 7.97197C19.8349 7.18197 19.2249 6.58197 18.4649 6.26197C17.6449 5.91197 17.0849 5.14197 17.0049 4.26197C17.0049 2.81197 16.0149 1.47197 14.5949 1.20197C12.6749 0.841968 11.0049 2.30197 11.0049 4.14197L11.0049 13.852C11.0049 14.682 11.3349 15.422 11.8849 15.972Z" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M10.1149 15.972C9.56487 16.522 8.78487 16.872 7.93487 16.852C6.47487 16.822 5.28487 15.642 5.04487 14.192L4.99487 13.852C4.84487 12.932 4.27487 12.112 3.42487 11.722C3.10487 11.572 2.81487 11.372 2.57487 11.122C1.81487 10.362 1.44487 9.16197 1.87487 7.97197C2.16487 7.18197 2.77487 6.58197 3.53487 6.26197C4.35487 5.91197 4.91488 5.14197 4.99488 4.26197C4.99488 2.81197 5.98488 1.47197 7.40488 1.20197C9.32488 0.841969 10.9949 2.30197 10.9949 4.14197L10.9949 5.99197L10.9949 12.002L10.9949 13.852C10.9949 14.682 10.6649 15.422 10.1149 15.972Z" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14.7249 9.80207C12.6649 9.80207 11.0049 11.4721 11.0049 13.5221L11.0049 14.1221" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.27487 9.80207C9.33487 9.80207 10.9949 11.4721 10.9949 13.5221L10.9949 14.1221" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</symbol>

		<symbol id="icon-arrow-left" viewbox="0 0 16 16">
			<path d="M1.525 8.13013L8.02 1.63513L8.635 2.26513L3.22 7.68013L14.5 7.68013L14.5 8.56513L3.22 8.56513L8.635 13.9951L8.02 14.6101L1.525 8.13013Z" fill="black"/>
		</symbol>
		<symbol id="icon-arrow-right" viewbox="0 0 16 16">
			<path d="M14.475 8.06982L7.98 14.5648L7.365 13.9348L12.78 8.51982H1.5V7.63482H12.78L7.365 2.20482L7.98 1.58982L14.475 8.06982Z"/>
		</symbol>

		<symbol id="icon-youtube" viewbox="0 0 37 37">
			<path d="M18.0353 0.929443C8.0753 0.929443 0 9.00475 0 18.9647C0 28.9247 8.0753 37 18.0353 37C27.9953 37 36.0706 28.9247 36.0706 18.9647C36.0706 9.00475 27.9953 0.929443 18.0353 0.929443ZM24.7099 26.3171C21.5507 26.5335 14.5139 26.5335 11.3592 26.3171C7.93854 26.0827 7.54026 24.4084 7.51471 18.9647C7.54026 13.5106 7.94304 11.8468 11.3592 11.6123C14.5139 11.3959 21.5522 11.3959 24.7099 11.6123C28.1321 11.8468 28.5288 13.5211 28.5559 18.9647C28.5288 24.4189 28.1275 26.0827 24.7099 26.3171ZM15.0294 15.4448L22.4194 18.9587L15.0294 22.4846V15.4448Z"/>
		</symbol>
		<symbol id="icon-telegram" viewbox="0 0 24 24">
			<path d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z"/>
		</symbol>
		<symbol id="icon-instagram" viewbox="0 0 14 15">
			<path d="M8.99501 7.2003C8.99501 6.64963 8.80367 6.1783 8.42101 5.7863C8.03834 5.3943 7.56701 5.1983 7.00701 5.1983C6.44701 5.1983 5.97567 5.3943 5.59301 5.7863C5.21034 6.1783 5.01434 6.64963 5.00501 7.2003C4.99567 7.75097 5.19167 8.2223 5.59301 8.6143C5.99434 9.0063 6.46567 9.2023 7.00701 9.2023C7.54834 9.2023 8.01967 9.0063 8.42101 8.6143C8.82234 8.2223 9.01367 7.75097 8.99501 7.2003ZM10.073 7.2003C10.073 8.04963 9.77434 8.77763 9.17701 9.3843C8.57967 9.99097 7.85634 10.2896 7.00701 10.2803C6.15767 10.271 5.42967 9.9723 4.82301 9.3843C4.21634 8.7963 3.91767 8.0683 3.92701 7.2003C3.93634 6.3323 4.23501 5.6043 4.82301 5.0163C5.41101 4.4283 6.13901 4.12963 7.00701 4.1203C7.87501 4.11097 8.59834 4.40963 9.17701 5.0163C9.75567 5.62297 10.0543 6.35097 10.073 7.2003ZM10.927 3.9943C10.927 4.1903 10.857 4.3583 10.717 4.4983C10.577 4.6383 10.4043 4.7083 10.199 4.7083C9.99367 4.7083 9.82567 4.6383 9.69501 4.4983C9.56434 4.3583 9.49434 4.1903 9.48501 3.9943C9.47567 3.7983 9.54567 3.6303 9.69501 3.4903C9.84434 3.3503 10.0123 3.2803 10.199 3.2803C10.3857 3.2803 10.5583 3.3503 10.717 3.4903C10.8757 3.6303 10.9457 3.7983 10.927 3.9943ZM7.00701 2.2723C6.96967 2.2723 6.76901 2.2723 6.40501 2.2723H5.57901C5.39234 2.2723 5.14034 2.28163 4.82301 2.3003C4.50567 2.31897 4.23967 2.3423 4.02501 2.3703C3.81034 2.3983 3.62367 2.44963 3.46501 2.5243C3.20367 2.62697 2.97501 2.7763 2.77901 2.9723C2.58301 3.1683 2.42901 3.39697 2.31701 3.6583C2.26101 3.80763 2.21434 3.9943 2.17701 4.2183C2.13967 4.4423 2.11167 4.71297 2.09301 5.0303C2.07434 5.34763 2.06967 5.59497 2.07901 5.7723C2.08834 5.94963 2.08834 6.22497 2.07901 6.5983C2.06967 6.97163 2.06967 7.1723 2.07901 7.2003C2.08834 7.2283 2.08834 7.42897 2.07901 7.8023C2.06967 8.17563 2.06967 8.45097 2.07901 8.6283C2.08834 8.80563 2.09301 9.05297 2.09301 9.3703C2.09301 9.68763 2.12101 9.9583 2.17701 10.1823L2.31701 10.7423C2.42901 11.0036 2.58301 11.2323 2.77901 11.4283C2.97501 11.6243 3.20367 11.7736 3.46501 11.8763C3.61434 11.9323 3.80101 11.9836 4.02501 12.0303C4.24901 12.077 4.51501 12.1003 4.82301 12.1003C5.13101 12.1003 5.38301 12.1096 5.57901 12.1283C5.77501 12.147 6.05034 12.147 6.40501 12.1283C6.75967 12.1096 6.96034 12.1096 7.00701 12.1283C7.05367 12.147 7.24967 12.147 7.59501 12.1283C7.94034 12.1096 8.21567 12.1096 8.42101 12.1283C8.62634 12.147 8.87834 12.1376 9.17701 12.1003C9.47567 12.063 9.74634 12.0396 9.98901 12.0303C10.2317 12.021 10.4137 11.9696 10.535 11.8763C10.7963 11.7736 11.0297 11.6243 11.235 11.4283C11.4403 11.2323 11.5897 11.0036 11.683 10.7423C11.739 10.593 11.7857 10.4063 11.823 10.1823C11.8603 9.9583 11.8883 9.68763 11.907 9.3703C11.9257 9.05297 11.9303 8.80563 11.921 8.6283C11.9117 8.45097 11.9117 8.17563 11.921 7.8023C11.9303 7.42897 11.9303 7.2283 11.921 7.2003C11.9117 7.1723 11.9117 6.97163 11.921 6.5983C11.9303 6.22497 11.9303 5.94963 11.921 5.7723C11.9117 5.59497 11.907 5.34763 11.907 5.0303C11.907 4.71297 11.879 4.4423 11.823 4.2183L11.683 3.6583C11.5803 3.39697 11.431 3.1683 11.235 2.9723C11.039 2.7763 10.8057 2.62697 10.535 2.5243C10.3857 2.4683 10.2037 2.41697 9.98901 2.3703C9.77434 2.32363 9.50367 2.3003 9.17701 2.3003C8.85034 2.3003 8.59834 2.29097 8.42101 2.2723C8.24367 2.25363 7.96834 2.25363 7.59501 2.2723C7.22167 2.29097 7.02567 2.29097 7.00701 2.2723ZM12.999 7.2003C12.999 8.39497 12.985 9.22097 12.957 9.6783C12.9103 10.761 12.5883 11.601 11.991 12.1983C11.3937 12.7956 10.5583 13.1176 9.48501 13.1643C9.01834 13.1923 8.19234 13.2063 7.00701 13.2063C5.82167 13.2063 4.99567 13.1923 4.52901 13.1643C3.44634 13.1083 2.60634 12.7863 2.00901 12.1983C1.41167 11.6103 1.08967 10.7703 1.04301 9.6783C1.01501 9.22097 1.00101 8.39497 1.00101 7.2003C1.00101 6.00563 1.01501 5.17963 1.04301 4.7223C1.08967 3.63963 1.41167 2.79963 2.00901 2.2023C2.60634 1.60497 3.44634 1.28297 4.52901 1.2363C4.98634 1.2083 5.81234 1.1943 7.00701 1.1943C8.20167 1.1943 9.02767 1.2083 9.48501 1.2363C10.5677 1.2923 11.403 1.6143 11.991 2.2023C12.579 2.7903 12.901 3.6303 12.957 4.7223C12.985 5.17963 12.999 6.00563 12.999 7.2003Z"/>
		</symbol>

		<symbol id="icon-twitter" viewbox="0 0 14 14">
			<path d="M12.8094 3.19199C12.4641 3.69599 12.0441 4.12999 11.5494 4.49399V4.81599C11.5494 5.49732 11.4514 6.17399 11.2554 6.84599C11.0594 7.51799 10.7608 8.16665 10.3594 8.79199C9.95809 9.41732 9.47742 9.96332 8.91742 10.43C8.35742 10.8967 7.68542 11.2793 6.90142 11.578C6.11742 11.8767 5.27275 12.0167 4.36742 11.998C2.95808 11.998 1.67008 11.62 0.503418 10.864C0.680751 10.8827 0.881418 10.892 1.10542 10.892C2.28142 10.892 3.32675 10.5327 4.24142 9.81399C3.69075 9.80465 3.20075 9.63665 2.77142 9.30999C2.34208 8.98332 2.04342 8.56799 1.87542 8.06399C2.05275 8.09199 2.21142 8.10599 2.35142 8.10599C2.57542 8.10599 2.79942 8.07799 3.02342 8.02199C2.43542 7.90065 1.95008 7.61132 1.56742 7.15399C1.18475 6.69665 0.993418 6.15999 0.993418 5.54399V5.51599C1.34808 5.71199 1.73075 5.81932 2.14142 5.83799C1.79608 5.60465 1.52075 5.30599 1.31542 4.94199C1.11008 4.57799 1.00742 4.17199 1.00742 3.72399C1.00742 3.27599 1.12408 2.85599 1.35742 2.46399C1.99208 3.23865 2.75742 3.85932 3.65342 4.32599C4.54942 4.79265 5.52008 5.04932 6.56542 5.09599C6.51875 4.89999 6.49542 4.70865 6.49542 4.52199C6.49542 3.82199 6.74275 3.22932 7.23742 2.74399C7.73208 2.25865 8.32475 2.01132 9.01542 2.00199C9.75275 2.00199 10.3688 2.26799 10.8634 2.79999C11.4328 2.68799 11.9694 2.48265 12.4734 2.18399C12.2774 2.78132 11.9041 3.24799 11.3534 3.58399C11.8388 3.52799 12.3241 3.39732 12.8094 3.19199Z"/>
		</symbol>
		<symbol id="icon-linkedIn" viewbox="0 0 14 15">
			<path d="M3.73101 5.08612V12.8281H1.15501V5.08612H3.73101ZM3.89901 2.69212C3.89901 3.07479 3.76367 3.39212 3.49301 3.64412C3.22234 3.89612 2.87234 4.02212 2.44301 4.02212H2.42901C1.99967 4.02212 1.65434 3.89612 1.39301 3.64412C1.13167 3.39212 1.00101 3.07479 1.00101 2.69212C1.00101 2.30946 1.13634 1.99212 1.40701 1.74012C1.67767 1.48812 2.02767 1.36212 2.45701 1.36212C2.88634 1.36212 3.23167 1.48812 3.49301 1.74012C3.75434 1.99212 3.88967 2.30946 3.89901 2.69212ZM12.999 8.39012V12.8281H10.437V8.68412C10.437 8.13346 10.3297 7.70412 10.115 7.39612C9.90034 7.08812 9.56901 6.93412 9.12101 6.93412C8.79434 6.93412 8.52367 7.02279 8.30901 7.20012C8.09434 7.37746 7.92634 7.60146 7.80501 7.87212C7.74901 8.03079 7.72101 8.24079 7.72101 8.50212V12.8281H5.14501C5.15434 10.7468 5.15901 9.06212 5.15901 7.77412V5.46412L5.14501 5.08612H7.72101V6.20612H7.70701C7.80967 6.03812 7.91701 5.89346 8.02901 5.77212C8.14101 5.65079 8.28567 5.51546 8.46301 5.36612C8.64034 5.21679 8.86901 5.10479 9.14901 5.03012C9.42901 4.95546 9.72767 4.91346 10.045 4.90412C10.9317 4.90412 11.6457 5.19812 12.187 5.78612C12.7283 6.37412 12.999 7.24212 12.999 8.39012Z"/>
		</symbol>
		<symbol id="icon-facebook" viewbox="0 0 14 15">
			<g clip-path="url(#clip0_537_1473)">
				<path d="M9.75099 0.298298V2.3563H8.53299C8.08499 2.3563 7.78166 2.44963 7.62299 2.6363C7.46432 2.82297 7.38499 3.10297 7.38499 3.4763V4.9603H9.68099L9.37299 7.2703H7.38499V13.2063H4.99099V7.2703H3.00299V4.9603H4.99099V3.2523C4.99099 2.28163 5.26166 1.5303 5.80299 0.998298C6.34432 0.466298 7.06766 0.200298 7.97299 0.200298C8.73832 0.200298 9.33099 0.232965 9.75099 0.298298Z"/>
			</g>
			<defs>
				<clipPath id="clip0_537_1473">
					<rect width="14" height="14" fill="white" transform="matrix(1 0 0 -1 0 14.2002)"/>
				</clipPath>
			</defs>
		</symbol>
		
		<symbol id="icon-close" viewbox="0 0 496 496">
			<path d="M248,0C111.033,0,0,111.033,0,248s111.033,248,248,248s248-111.033,248-248C495.841,111.099,384.901,0.159,248,0z
				         M248,480C119.87,480,16,376.13,16,248S119.87,16,248,16s232,103.87,232,232C479.859,376.072,376.072,479.859,248,480z"></path>
			<path d="M361.136,134.864c-3.124-3.123-8.188-3.123-11.312,0L248,236.688L146.176,134.864c-3.069-3.178-8.134-3.266-11.312-0.197
				        c-3.178,3.069-3.266,8.134-0.197,11.312c0.064,0.067,0.13,0.132,0.197,0.197L236.688,248L134.864,349.824
				        c-3.178,3.07-3.266,8.134-0.196,11.312c3.07,3.178,8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196L248,259.312
				        l101.824,101.824c3.178,3.07,8.242,2.982,11.312-0.196c2.995-3.1,2.995-8.016,0-11.116L259.312,248l101.824-101.824
				        C364.259,143.052,364.259,137.988,361.136,134.864z"></path>
		</symbol>
		
		<symbol id="icon-phone" viewbox="0 0 15 15">
			<path d="M0.519531 1.43359C0.355469 1.46094 0.246094 1.54297 0.136719 1.65234C0.0546875 1.78906 0 1.92578 0 2.0625C0 4.35938 0.574219 6.49219 1.72266 8.46094C2.87109 10.375 4.375 11.9062 6.28906 13.0273C8.25781 14.1758 10.3906 14.75 12.6875 14.75C12.8516 14.75 12.9883 14.7227 13.0977 14.6133C13.2344 14.5312 13.3164 14.3945 13.3164 14.2305L13.9727 11.3867C14.0273 11.25 14 11.1133 13.918 10.9492C13.8633 10.8125 13.7539 10.7031 13.5898 10.6484L10.5273 9.33594C10.418 9.28125 10.2812 9.28125 10.1172 9.30859C9.98047 9.33594 9.87109 9.41797 9.76172 9.52734L8.42188 11.168C7.35547 10.6758 6.39844 10.0195 5.57812 9.17188C4.75781 8.35156 4.07422 7.39453 3.58203 6.32812L5.22266 4.96094C5.33203 4.87891 5.41406 4.76953 5.44141 4.63281C5.49609 4.49609 5.46875 4.35938 5.41406 4.19531L4.10156 1.13281C4.04688 1.02344 3.96484 0.914062 3.80078 0.832031C3.66406 0.777344 3.52734 0.75 3.36328 0.777344L0.519531 1.43359Z"></path>
		</symbol>

		<symbol id="search" viewbox="0 0 15 17">
			<circle cx="6.34498" cy="7.32863" r="5.34498" fill="transparent" stroke-width="1"/>
			<path d="M10.1516 12.4045L13.1126 16" stroke-width="1" stroke-linecap="round"/>
		</symbol>
		
		<symbol id="cart" viewbox="0 0 25 24">
			<g clip-path="url(#clip0_504_925)">
				<path d="M17.82 20.4961C17.82 20.8481 17.94 21.1441 18.18 21.3841C18.42 21.6241 18.716 21.7441 19.068 21.7441C19.42 21.7441 19.716 21.6241 19.956 21.3841C20.196 21.1441 20.316 20.8481 20.316 20.4961C20.316 20.1441 20.192 19.8481 19.944 19.6081C19.696 19.3681 19.404 19.2481 19.068 19.2481C18.732 19.2481 18.44 19.3681 18.192 19.6081C17.944 19.8481 17.82 20.1441 17.82 20.4961ZM5.26805 3.7441H23.052C23.276 3.7441 23.464 3.8281 23.616 3.9961C23.768 4.1641 23.828 4.3601 23.796 4.5841L23.028 10.8481C22.948 11.5361 22.644 12.1081 22.116 12.5641C21.588 13.0201 20.98 13.2481 20.292 13.2481H7.18805L7.33205 13.9441C7.42805 14.4721 7.68405 14.9041 8.10005 15.2401C8.51605 15.5761 8.99605 15.7441 9.54005 15.7441H21.06C21.268 15.7441 21.444 15.8161 21.588 15.9601C21.732 16.1041 21.804 16.2801 21.804 16.4881C21.804 16.6961 21.732 16.8761 21.588 17.0281C21.444 17.1801 21.268 17.2561 21.06 17.2561H9.51605C8.92405 17.2561 8.36805 17.1241 7.84805 16.8601C7.32805 16.5961 6.89205 16.2361 6.54005 15.7801C6.18805 15.3241 5.95605 14.8081 5.84405 14.2321L3.44405 2.2561H1.06805C0.860049 2.2561 0.680049 2.1801 0.528049 2.0281C0.376049 1.8761 0.300049 1.6961 0.300049 1.4881C0.300049 1.2801 0.376049 1.1041 0.528049 0.960104C0.680049 0.816103 0.860049 0.744102 1.06805 0.744102H4.06805C4.24405 0.744102 4.40405 0.800104 4.54805 0.912104C4.69205 1.0241 4.78005 1.1681 4.81205 1.3441L5.26805 3.7441ZM5.58005 5.2561L6.87605 11.7601H20.292C20.596 11.7601 20.868 11.6561 21.108 11.4481C21.348 11.2401 21.492 10.9761 21.54 10.6561L22.212 5.2561H5.58005ZM16.308 20.4961C16.308 20.0001 16.432 19.5441 16.68 19.1281C16.928 18.7121 17.264 18.3801 17.688 18.1321C18.112 17.8841 18.572 17.7601 19.068 17.7601C19.564 17.7601 20.024 17.8841 20.448 18.1321C20.872 18.3801 21.204 18.7121 21.444 19.1281C21.684 19.5441 21.804 20.0001 21.804 20.4961C21.804 20.9921 21.68 21.4521 21.432 21.8761C21.184 22.3001 20.852 22.6361 20.436 22.8841C20.02 23.1321 19.564 23.2561 19.068 23.2561C18.572 23.2561 18.112 23.1321 17.688 22.8841C17.264 22.6361 16.928 22.3001 16.68 21.8761C16.432 21.4521 16.308 20.9921 16.308 20.4961ZM6.30005 20.4961C6.30005 20.0001 6.42405 19.5441 6.67205 19.1281C6.92005 18.7121 7.25605 18.3801 7.68005 18.1321C8.10405 17.8841 8.56405 17.7601 9.06005 17.7601C9.55605 17.7601 10.016 17.8841 10.44 18.1321C10.864 18.3801 11.2 18.7121 11.448 19.1281C11.696 19.5441 11.82 20.0001 11.82 20.4961C11.82 20.9921 11.696 21.4521 11.448 21.8761C11.2 22.3001 10.864 22.6361 10.44 22.8841C10.016 23.1321 9.55605 23.2561 9.06005 23.2561C8.56405 23.2561 8.10405 23.1321 7.68005 22.8841C7.25605 22.6361 6.92005 22.3001 6.67205 21.8761C6.42405 21.4521 6.30005 20.9921 6.30005 20.4961ZM7.81205 20.4961C7.81205 20.8481 7.93205 21.1441 8.17205 21.3841C8.41205 21.6241 8.70805 21.7441 9.06005 21.7441C9.41205 21.7441 9.70805 21.6241 9.94805 21.3841C10.188 21.1441 10.308 20.8481 10.308 20.4961C10.308 20.1441 10.188 19.8481 9.94805 19.6081C9.70805 19.3681 9.41205 19.2481 9.06005 19.2481C8.70805 19.2481 8.41205 19.3681 8.17205 19.6081C7.93205 19.8481 7.81205 20.1441 7.81205 20.4961Z" fill="#4F4F4F"/>
			</g>
			<defs>
				<clipPath id="clip0_504_925">
					<rect width="24.7" height="24" fill="white" transform="matrix(1 0 0 -1 0.300049 24)"/>
				</clipPath>
			</defs>
		</symbol>
	</svg>
</div>
