<div class="l-modal-container">
	{% include 'templates/modals/modal-mobile-menu.twig' %}

	{% include 'templates/modals/modal-success.twig' %}

  {% include 'templates/modals/modal-error.twig' %}

	{% include 'templates/modals/modal-quick-buy.twig' %}

	{% if fn('is_product') %}
		{% include 'templates/modals/modal-lightbox.twig' %}
	{% endif %}
</div>

